In [4]:
import numpy as np
import pandas as pd
from sklearn.datasets import load_boston
boston=load_boston()
boston.keys()

dict_keys(['data', 'target', 'feature_names', 'DESCR', 'filename'])

In [43]:
data=boston['data']
target=boston['target']
feature_names=boston['feature_names']

In [7]:
X=pd.DataFrame(data,columns=feature_names)
X.head()

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.00632,18.0,2.31,0.0,0.538,6.575,65.2,4.0900,1.0,296.0,15.3,396.90,4.98
1,0.02731,0.0,7.07,0.0,0.469,6.421,78.9,4.9671,2.0,242.0,17.8,396.90,9.14
2,0.02729,0.0,7.07,0.0,0.469,7.185,61.1,4.9671,2.0,242.0,17.8,392.83,4.03
3,0.03237,0.0,2.18,0.0,0.458,6.998,45.8,6.0622,3.0,222.0,18.7,394.63,2.94
4,0.06905,0.0,2.18,0.0,0.458,7.147,54.2,6.0622,3.0,222.0,18.7,396.90,5.33

In [37]:
y=pd.DataFrame(target, columns=['price'])
y.head()

   price
0   24.0
1   21.6
2   34.7
3   33.4
4   36.2

In [16]:
from sklearn.model_selection import train_test_split

In [18]:
X_train, X_test, y_train, y_test=train_test_split(X,y,test_size=0.3, random_state=42)

In [19]:
from sklearn.linear_model import LinearRegression
lr=LinearRegression()

In [20]:
lr.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None,
         normalize=False)

In [46]:
y_pred=lr.predict(X_test)

In [23]:
check_test=pd.DataFrame({
    'y_test':y_test['price'],
    'y_pred':y_pred.flatten()
})

In [25]:
check_test.head()

     y_test     y_pred
173    23.6  28.648960
274    32.4  36.495014
491    13.6  15.411193
72     22.8  25.403213
452    16.1  18.855280

In [26]:
from sklearn.metrics import r2_score

In [50]:
R2=r2_score(y_test,y_pred)
R2

0.711226005748496

In [31]:
from sklearn.ensemble import RandomForestRegressor

In [51]:
model = RandomForestRegressor(n_estimators=1000, max_depth=12, random_state=42)
model.fit(X_train,y_train.values[:,0])
y_pred2=model.predict(X_test)
check_test2=pd.DataFrame({
    'y_test':y_test['price'],
    'y_pred2':y_pred2.flatten()
})
check_test2.head()

     y_test    y_pred2
173    23.6  22.846138
274    32.4  31.156114
491    13.6  16.297226
72     22.8  23.821036
452    16.1  17.212148

In [52]:
R2=r2_score(y_test,y_pred2)
R2

0.8749965273218174

In [54]:
# Модель с применением функции RandomForestRegressor работает лучше

In [79]:
mfi=model.feature_importances_

In [81]:
pd.DataFrame(mfi.reshape(1,13),columns=feature_names)

,CRIM,ZN,INDUS,CHAS,NOX,RM,AGE,DIS,RAD,TAX,PTRATIO,B,LSTAT
0,0.032117,0.00155,0.007094,0.001149,0.014368,0.402705,0.014245,0.064033,0.004968,0.011692,0.01809,0.012311,0.415679

In [82]:
# Наибольший вес имеют признаки DIS и LSTAT